body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page {
  margin: auto;
}


.userInput {
  margin: auto;
  display: flex;
}

.field {
  margin: 5px;
}
